.img-account {
    border-radius: 50%;
    height: 40px;
}

.btn-new-post,
.btn-new-post:active {
    background-color: #fff;
    color: #000000bf;
    text-align: start;
    font-weight: 500;
    border: 1px solid #0000002f;
}

.btn-new-post:hover {
    background-color: #00000023;
    color: #000000bf;
    border: 1px solid #0000002f;
}

.section-search {
    border: 1px solid #00000043;
    border-radius: 20px;
    padding: 10px 15px 5px;
}

.rowButtons button {
    background-color: transparent;
    border: none;
    color: #000000bf;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    gap: 5px;
    padding: 10px 5px;
}

.rowButtons button:hover {
    background-color: #00000023;
    color: #000000bf;

}

.rowButtons button p {
    margin: 0;
}