@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.footer-main-container {
  background-color: #F4F2EE;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

.custom-footer-links-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 14px 20px;
  margin: 0;
  align-content: start;
  width: 100%;
}

@media (max-width: 640px) {

  .custom-footer-links-list {
    grid-template-columns: repeat(2, auto);
  }

  .custom-footer-right-section {
    flex-direction: column;
  }
}

.custom-footer-links-list li {
  line-height: 16px;
  margin: 0;
}

.custom-footer-links-list li a {
  color: #666;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.custom-footer-links-list li:hover .custom-footer-no-dropdown-link {
  color: #0a66c2;
  text-decoration: underline;
}

.custom-footer-link .sublink-text {
  color: #666;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.custom-footer-link:hover .sublink-text {
  color: #0a66c2;
  text-decoration: underline;
}

.custom-footer-link.dropdown-toggle-wrapper:hover {
  text-decoration: none;
}

.dropdown-toggle-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-toggle-wrapper::after {
  display: none;
}

.dropdown-toggle-wrapper .footer-dropdown-caret {
  text-decoration: none;
  color: #666;
}

.dropdown-toggle-wrapper:hover .footer-dropdown-caret {
  color: #0a66c2;
}

.footer-dropdown-caret {
  margin-left: 6px;
  font-size: 10px;
}

.custom-dropdown-menu {
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  padding: 8px 0;
  min-width: 180px;
}

.custom-dropdown-menu .dropdown-item {
  font-size: 12px;
  color: #444;
  padding: 6px 16px;
  text-decoration: none;
  text-wrap: wrap;
}

.custom-dropdown-menu .dropdown-item:hover {
  background: #f3f3f3;
}

.list-unstyled li {
  margin-bottom: 8px;
}

.custom-footer-utilities h6 {
  margin: 0;
}

.custom-footer-utilities h6 a {
  font-size: 14px;
  font-weight: 600;
  color: #666;
  text-decoration: none;
}

.custom-footer-utilities h6 a:hover {
  text-decoration: underline;
  color: #0a66c2;
}

.custom-footer-utilities p {
  font-size: 10px;
  font-weight: 500;
  color: #666;
}

.custom-footer-select-language-label {
  font-size: 12px;
  color: #666;
}

.custom-footer-select-language {
  padding-left: 4px;
  width: 100%;
  min-width: 160px;
  height: 28px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  color: #666;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.footer-main-container p {
  color: #666;
  margin: 12px 0px 24px 0;
  font-size: 12px;
}