.custom-post-main-container {
  border: 1px solid #cecece;
  border-radius: 8px;
  margin-bottom: 12px;
}

.custom-post-header {
  padding: 16px 18px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.custom-post-header-author {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  min-width: 0;
}

.custom-post-header-author-logo {
  flex-shrink: 0;
  max-width: 52px;
  max-height: 52px;
}

.custom-post-header-author-logo img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.custom-post-header-author-description {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 0;
  flex: 1;
}

.custom-post-header-author-description h5 {
  font-size: 16px;
  font-weight: 600;
}

.custom-post-header-author-description p,
.custom-post-header-author-description span,
.custom-post-header-author-description svg {
  font-size: 12px;
  color: #5d5d5d;
}

.custom-post-header-author-description p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.custom-post-header-follow-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.custom-post-header-follow-container div:nth-child(1) {
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
}

.custom-post-header-follow-container div:nth-child(1):hover {
  background-color: rgba(77, 177, 253, 0.148);
}

.custom-post-header-follow-container div:nth-child(1) .lucide {
  color: #0a66c2;
  stroke-width: 2.6;
}

.custom-post-header-follow-container div:nth-child(2) .lucide {
  stroke-width: 1;
  fill: black;
}

.custom-post-header-follow-container div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.custom-post-header-follow-container div:nth-child(2):hover {
  background-color: #eeeeee;
}

.custom-post-header-follow-container p {
  font-weight: 600;
  color: #0a66c2;
}

.custom-post-caption {
  white-space: pre-line;
  font-size: 14px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0 18px;
}

.custom-post-caption-link {
  font-size: 14px;
  font-weight: 600;
  color: #0a66c2;
}

.custom-post-caption-link:hover {
  color: #004182;
  text-decoration: underline;
}

.custom-post-caption-link:active {
  color: #000000;
}

.custom-post-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #cecece;
  margin: 0 12px;
}

.custom-post-footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6px;
  margin: 4px 0;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.custom-post-footer div:hover {
  background-color: #dfdede;
}

.custom-post-footer div .lucide {
  stroke-width: 2.5;
}

.custom-post-footer div p {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  text-wrap: nowrap;
}
