.custom-news-main-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: white;
  border: 1px solid #bababa;
  border-radius: 10px;
  margin-bottom: 24px;
}

.custom-news-main-container h4 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 18px;
  padding: 0 18px;
}

.custom-news-main-container h6 {
  color: #717171;
  font-weight: 600;
  padding: 0 18px;
}

.custom-news-list li {
  margin: 0;
  padding: 8px 18px;
}

.custom-news-list li:hover {
  background-color: rgba(220, 220, 220, 0.8);
}

.custom-news-list li a {
  text-decoration: none;
}

.custom-news-list li a p:nth-of-type(1) {
  color: black;
  font-weight: 600;
  font-size: 14px;
}

.custom-news-list li a p:nth-of-type(2) {
  color: #717171;
  font-weight: 500;
  font-size: 12px;
}

.show-hide-news-button {
  cursor: pointer;
  display: inline-flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 10px;
  padding: 2px 8px;
  border-radius: 4px;
}

.show-hide-news-button:hover {
  background-color: rgba(220, 220, 220, 0.8);
}

.show-hide-news-button p {
  color: black;
  font-weight: 600;
  font-size: 14px;
}

.game-card-container {
  margin-left: 18px;
}

.game-card-container div p:nth-child(1) {
  font-weight: 600;
  text-wrap: wrap;
}

.game-card-container div p:nth-child(2) {
  color: #717171;
  font-size: 14px;
  text-wrap: wrap;
}

.game-img-container {
  max-width: 64px;
}