.navbar-custom {
  height: 56px;
  padding: 0;
  background-color: #ffffff;
}


.navbar-container {
  display: flex;
  gap: 8px;
}

.linkedin-logo {
  width: 20%;
  margin-left: 60%;
}



.search-container {
  position: relative;
  background-color: #eef3f8;
  border-radius: 6px;
  height: 34px;
  width: 280px;
  padding: 0 12px;
  display: flex;
  align-items: center;
}


.search-input {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  font-size: 13px;
  padding: 0 0 0 26px !important;
  width: 100%;
}


.search-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #5f5f5f;
  pointer-events: none;
}


.search-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #5f5f5f;
}

.container-items {
  border-right: 1px solid #00000049;
  padding-right: 12px;
  margin-right: 12px;
  align-items: center;
  height: 52px;
}

.navbar-item {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.navbar-item span {
  font-size: 12px;
  margin-top: 2px;
}


.link-navbar {
  font-size: 15px;
  color: #693c1e;
  text-align: center;
  font-weight: lighter;
  width: 15%;
  text-decoration: underline
}
