.navbar-custom {
  top: 0;
  width: 100%;
  background-color: #c5c5c5;
}

.navbar-container {
  display: flex;
  gap: 20px;
}

.linkedin-logo {
  width: 20%;
  margin-left: 60%;
}

.search-container {
  position: relative;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 6px 12px;
  width: 300px;
  display: flex;
}

.search-input {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  width: 100%;
  padding-left: 40px !important;
  font-size: 14px;
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #5f5f5f;
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #5f5f5f;
}

.container-items {
  border-right: 1px solid #00000049;
  margin-right: 20px;
}

.navbar-item {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.navbar-item span {
  font-size: 15px;
}

.link-navbar {
  font-size: 15px;
  color: #693c1e;
  text-align: center;
  font-weight: lighter;
  width: 15%;
}
