.dropdown-menu {
  width: 300px;
}
.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:active:focus {
  background-color: transparent;
  border: none;
  color: #000;
  padding-top: 3px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  box-shadow: none;
}

.line-left {
  content: "";
  flex-grow: 1;
  background-color: #00000033;
  height: 1px;
  margin-right: 10px;
}
