/* --- SEZIONE --- */
.experience-section {
  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  margin: 24px 0
}

/* Header */
.exp-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.exp-header-top h3 {
  color: #444;
  font-weight: 600;
  font-size: 20px;
}

/* Bottone + */
.add-btn {
  background: none;
  border: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
  padding: 4px;
  border-radius: 50%;
  color: #333;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn:hover {
  background: #eee;
}

/* --- CARDS --- */
.exp-card {
  padding: 18px 0;
  border-bottom: 1px solid #e7e7e7;
}

.exp-card:last-child {
  border-bottom: none;
}

.exp-info h4 {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
}

.company {
  margin: 4px 0;
  font-weight: 500;
  color: #555;
}

.dates {
  font-size: 14px;
  color: #777;
  margin: 6px 0 10px;
}

.desc {
  font-size: 14px;
  color: #333;
  line-height: 1.45;
}

/* Labels */
/*
label {
  color: black;
  display: block;
  margin-top: 6px;
}

/* --- MODALE --- */
/*
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  width: 420px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.18);
  animation: popup 0.25s ease;
}

@keyframes popup {
  from { transform: scale(0.93); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/* Header modale */
/*
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
  padding: 4px;
  border-radius: 50%;
  color: #333;
}

.close-btn:hover {
  background-color: #eee;
}

/* Buttons */
/*
.save-btn {
  width: 100%;
  padding: 10px;
  background: #0a66c2;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 14px;
  cursor: pointer;
  font-weight: 600;
}

.save-btn:hover {
  background: #004182;
}

.exp-btn {
  width: 100%;
  padding: 10px;
  background: transparent;
  color: #0a66c2;
  border: 1px solid #0a66c2;
  border-radius: 6px;
  margin-top: 14px;
  cursor: pointer;
  font-weight: 600;
}

/* Inputs */
/*
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  color: #444;
}
*/

input:focus,
textarea:focus {
  box-shadow: none !important;
}

.delete-experience-btn,
.edit-experience-btn {
  background: none;
  border: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
  padding: 4px;
  border-radius: 50%;
  color: #333;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-experience-btn:hover,
.edit-experience-btn:hover {
  background-color: #eee;
}