.login-form-main-container {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 22px;
  max-width: 360px;
  width: 360px;
  margin: 0 auto;
  margin-top: 32px;
}

.login-form-sign-in-btn {
  background-color: #0a66c2;
  width: 100%;
  border-radius: 24px;
  padding: 8px 0;
}

.login-form-or-paragraph {
  width: 100%;
  text-align: center;
  position: relative;
  margin: 0;
}

.login-form-or-paragraph::before,
.login-form-or-paragraph::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1.4px;
  background-color: #cecece;
}

.login-form-or-paragraph::before {
  left: 0;
}

.login-form-or-paragraph::after {
  right: 0;
}

.oauth-sign-in-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: white;
  color: black;
  width: 100%;
  border-radius: 24px;
  padding: 8px 0;
}

.oauth-sign-in-img-container {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}